.bikes {
  display: flex;
  flex-direction: column;
  padding: 149px 0 50px;
  background-color: $basic-grey;

  & h2 {
    @include heading-style;
    margin: 0 0 50px;
  }
}

.bikes__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  max-width: 1126px;
  width: 78%;
  margin: 0 auto;
  z-index: 1;
}

.bikes__item {
  position: relative;
  margin-bottom: 50px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
  }

  &--road {
    margin-top: 10px;

    &::before {
      top: 156px;
      right: 222px;
      width: 180px;
      height: 180px;
      border: 27px solid $special-mint;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &--mount {
    margin-top: 40px;

    &::before,
    &::after {
      width: 47px;
      height: 47px;
      border: 8px solid $special-mint;
    }

    &::before {
      top: -18px;
      left: -19px;
    }

    &::after {
      bottom: 33px;
      right: -23px;
    }
  }

  &--child {
    &::after {
      top: -32px;
      right: -36px;
      width: 95px;
      height: 95px;
      border: 17px solid $special-mint;
      border-radius: 50%;
    }
  }

  & p {
    margin: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
  }
}

.bikes__pic {
  max-width: 342px;
  min-width: 270px;
  width: 100%;
  max-height: 503px;
  margin-bottom: 20px;
  background-color: #d2baaa;
  border-radius: 10px;

  &--mount {
    max-height: 566px;
  }
}

@media (max-width: $tablet-breakpoint) {
  .bikes {
    padding: 48px 0 70px;

    & h2 {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 41px;
    }
  }

  .bikes__list {
    width: 77%;
  }

  .bikes__item {
    margin-top: 0;

    &--road {
      &::before {
        top: 201px;
        right: 180px;
        width: 127px;
        height: 127px;
        border: 18px solid $special-mint;
      }
    }

    &--mount {
      &::before,
      &::after {
        content: none;
      }
    }

    &--child {
      margin-left: auto;
      margin-right: auto;

      &::after {
        top: -20px;
        right: -25px;
        width: 68px;
        height: 68px;
        border: 13px solid $special-mint;
      }
    }
  }

  .bikes__pic {
    position: relative;
    width: 79%;
    height: 300px;
    overflow: hidden;

    & img {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .bikes {
    flex-direction: column;
    padding: 52px 0 54px;
  }

  .bikes__list {
    width: auto;
    margin: 0 auto;
  }

  .bikes__item {
    width: fit-content;
    margin: 0 auto;

    &:not(:last-of-type) {
      margin-bottom: 42px;
    }
  }
}
