.footer {
  min-height: 159px;
  max-width: 558px;
  width: 40%;
  margin: 0 auto;
  padding: 38px 0 96px;
  box-sizing: border-box;
}

.footer__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__item {
  & a {
    vertical-align: middle;
    font-size: 16px;
    line-height: 22px;
    color: $basic-black;
    opacity: 0.5;
    transition-property: all;
    transition-duration: 0.7s;

    &:focus,
    &:hover {
      color: $special-mint;
      opacity: 1;
    }

    &:active {
      color: $special-mint;
      opacity: 0.4;
    }
  }

  & svg {
    margin-right: 10px;
    vertical-align: middle;
    fill: none;

    & path {
      fill-opacity: 1;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .footer {
    width: 72%;
    min-height: 98px;
    padding: 22px 0 53px;
  }

  // .footer__list {
  //   width: 555px;
  // }

  .footer__item:not(:last-of-type) {
    margin-bottom: 22px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .footer {
    width: 87.5%;
    min-height: 151px;
    padding: 11px 0 50px;
  }

  .footer__list {
    flex-direction: column;
    padding: 0 0 0 10px;
  }

  .footer__item {
    &--phone {
      margin-right: 15px;
    }
  }
}
