.footer {
  padding: 38px 0 96px;
  box-sizing: border-box;
}

.footer__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 558px;
  margin: 0 auto;
}

.footer__list a {
  vertical-align: middle;
  font-size: 16px;
  line-height: 22px;
  color: $basic-black;
  opacity: 0.5;

  &:focus,
  &:hover {
    color: $special-mint;
  }

  &:active {
    color: $special-mint;
    opacity: 0.4;
  }
}

.footer__list svg {
  margin-right: 10px;
  vertical-align: middle;
  fill: none;
}

@media (max-width: $tablet-breakpoint) {
  .footer {
    padding: 20px 105px 52px;
  }

  .footer__list {
    padding-right: 10px;
  }

  .footer__item:not(:last-of-type) {
    margin-bottom: 22px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .footer {
    padding: 11px 0 50px;
  }

  .footer__list {
    flex-direction: column;
    width: 100%;
    padding: 0 0 0 10px;
  }
}
